<%= flash[:notice] %>
<h1 style="text-align:center">Admin Login</h1>
<div class="login-container-user">
  <%= form_with url: "/admin/login", method: :post do |form| %>
    <div class="field">
      <%= form.label :Username %>
      <%= form.text_field :username %>
    </div>

    <div class="field">
      <%= form.label :Password %>
      <%= form.password_field :password %>
    </div>

    <%= form.submit "Login" %>
  <% end %>
</div>
<br>
