<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Cart</h1>
        </div>
      </div>
      <div class="col-lg-7">
        
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>

<div class="untree_co-section before-footer-section">
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12" method="post">
        <div class="site-blocks-table">
          <table class="table">
            <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>
              <% @line_items.each do |line_item| %>
                <tr>
                  <td class="product-thumbnail">
                    <%= image_tag line_item.store.product_image, class: "img-fluid" %>
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black"><%= line_item.store.name %></h2>
                  </td>
                  <td>Rs.<%= line_item.store.price %></td>
                  <td>
                    <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                      <input type="text" class="form-control text-center quantity-amount" value="<%= line_item.quantity %>" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" data-line-item-id="<%= line_item.id %>" disabled>
                  </div>
                  </td>
                  <td>Rs.<%= line_item.total_price %></td>
                  <td>
                    <%= link_to 'Remove', line_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-black btn-sm' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </form>
    </div>
    
<div class="row">
  <div class="col-md-6">
    <div class="row mb-5">
      <div class="col-md-0 mb-3 mb-md-0">
        <%# <%= link_to 'Edit', edit_line_item_path(line_item), class: "btn btn-black btn-sm btn-block" %>
      </div>
      <div class="col-md-6">
        <%= link_to 'Continue Shopping', gallery_index_path, class: "btn btn-outline-black btn-sm btn-block" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="text-black h4" for="coupon">Coupon</label>
        <p>Enter your coupon code if you have one.</p>
      </div>
      <div class="col-md-8 mb-3 mb-md-0">
        <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
      </div>
      <div class="col-md-4">
        <button class="btn btn-black">Apply Coupon</button>
      </div>
    </div>
  </div>
  <div class="col-md-6 pl-5">
    <div class="row justify-content-end">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12 text-right border-bottom mb-5">
            <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <span class="text-black">Subtotal</span>
          </div>
          <div class="col-md-6 text-right">
            <strong class="text-black">Rs.<%= @line_items.to_a.sum { |item| item.total_price } %></strong>
          </div>  
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <span class="text-black">Total</span>
          </div>
          <div class="col-md-6 text-right">
          <% session[:amount] = @line_items.sum(&:total_price) %>
            <strong class="text-black">Rs.<%= @line_items.to_a.sum { |item| item.total_price} %></strong>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <%# <%= link_to 'Proceed To Checkout', home_index_path, class: "btn btn-black btn-lg py-3 btn-block" %>
            <% if user_signed_in? %>
                <%= link_to "Proceed To Checkout", gallery_checkout_path,class: "btn btn-black btn-lg py-3 btn-block" %>
            <% else %>
                <%= link_to "Proceed To Checkout", new_user_session_path %>
            <%end %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

